body {
  background-image: url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  color: white;
  background-size: cover;
}
main {
  max-width: 1024px;
  margin-inline: auto;
  font-family: "Outfit", sans-serif;
}
article {
  text-align: center;
}
.title {
  margin-top: 0;
  font-size: 300%;
  margin-bottom: 0;
}
.summary {
  font-size: 150%;
  margin-top: 0px;
}

.logoEpicode {
  width: 15%;
  display: inline-block;
  margin-top: 3%;
  margin-left: 7%;
}
.inblock {
  display: inline-block;
}
.circle {
  border: solid 40px #01ffff;
  border-radius: 50%;
  width: 260px;
  height: 260px;
}
.correct {
  margin-right: 80px;
}
.wrong {
  margin-left: 100px;
}
.button {
  display: block;
  margin-top: 50px;
  margin-inline: auto;
  background: transparent;
  border: solid 2px white;
  color: white;
  width: 180px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 120%;
}
.corwro {
  font-size: 300%;
  font-weight: 400;
  margin: 0;
}
.percentuali {
  font-weight: 700;
}
.cong {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 100%;
}
.pass {
  margin-top: 0;
  font-size: 100%;
  margin-bottom: 40px;
  color: #01ffff;
}
.send {
  margin-bottom: 0;
  width: 220px;
  margin-inline: auto;
  font-size: 90%;
}
.email {
  margin-top: 0;
  font-size: 90%;
}
