body {
  background-image: url(./assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

  font-family: "Outfit", sans-serif;
}
main {
  display: block;
  margin-inline: auto;
  max-width: 600px;
}

body main header div {
  padding-top: 80px;
  padding-bottom: 80;
}
h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 0%;
  font-family: "Outfit", sans-serif;
  margin-top: 0;
  line-height: 1;
}
.bold-text {
  font-weight: bold;
}
.container {
  margin: 0px;
}
h3 {
  color: #d20094;
}
p {
  color: aliceblue;
  font-size: 16px;
}
ul {
  color: aliceblue;
}

label {
  color: aliceblue;
}

.tick-checkbox {
  background: transparent;
}
.custom-button {
  margin-left: 60px;
  background-color: aqua;
  padding-inline: 30px;
  border-bottom: aqua;
  padding-inline: 30px;
  background-color: inherit hwb(180 0% 0%);
  color: black;
  box-shadow: 0px 0px 30px aqua;
  font-weight: bold;
  height: 50px;
}
